ul {
  width: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  user-select: none;
}

li {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.25s linear;
}

li:hover {
  background: #abcdef;
  color: #fff;
}